{% extends "base.html" %}
{% block content %}
<p>
    Valitse muokattava käyttäjä:
</p>
<br>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Käyttöoikeus</th>
        </tr>
    </thead>

    <tbody>
        <!-- hakua vastanneet kurssit tähän, kursseista linkit vastaussivuille -->
        {% for käyttäjä in käyttäjät %}
        <tr>
            <!--<td><a href="{{base_path}}/esittely/{{kurssi.kurssi_id}}">{{kurssi.nimi}}</a></td> -->
            <td><a href="{{base_path}}/esittely/{{kurssi.kurssi_id}}">{{käyttäjä.nimi}}</a></td>
            <td>{{käyttäjä.kayttooikeus}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}