{% extends "base.html" %}
{% block content %}
  <p>
    Lisää listasta opettajia kurssin pitäjiksi:
  </p>

  
    
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Valitse</th>
          <th>Nimi</th>
        </tr>
      </thead>
      
      <tbody>
        
        {% for käyttäjä in käyttäjät %}

        <tr>
        <td>
          <div class="form-group">
          <form method="post" action="{{base_path}}/listaus/lisaa_tai_poista_kurssilta/{{kurssi_id}}">
            <input type="hidden" name="kayttaja_id" value="{{käyttäjä.kayttaja_id}}">
            <input type="hidden" name="selected" value="{{käyttäjä.selected}}">
            <input type="submit" value="{{käyttäjä.selected}}">
          </form>
          </div>
          </td>
        
          <td>
          <div class="form-group">
            <a>{{käyttäjä.nimi}}</a>
          </div>
          </td>
        
          </tr>
        
          {% endfor %}
      </tbody>
    </table>

    <a href="{{base_path}}/muokkaus/{{kurssi_id}}" class="btn btn-success">Valmis</a>


{% endblock %}