{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa kurssia</h1>

  <!--virheiden käsittely..-->
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  <form method="post" action="{{base_path}}/muokkaus">
    <div class="form-group">
      <label class="control-label">nimi</label>
      <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
      <label class="control-label">luennoitsija</label>
      <input type="text" name="luennoitsija" class="form-control" value="{{attributes.luennoitsija}}">
    </div>

    <div class="form-group">
      <label class="control-label">laitos</label>
      <input type="text" name="laitos" class="form-control" value="{{attributes.laitos}}">
    </div>

    <div class="form-group">
      <label class="control-label">alkamispäivä</label>
      <input type="text" name="alkamispäivä" class="form-control" value="{{attributes.alkamispäivä}}">
    </div>

    <div class="form-group">
      <label class="control-label">päättymispäivä</label>
      <input type="text" name="päättymispäivä" class="form-control" value="{{attributes.päättymispäivä}}">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
    </div>
  </form>
{% endblock %}