{% extends "base.html" %}
{% block content %}
  <h1>kurssien päivitys</h1>
  <p>
    Haku tietokannasta:
  </p>

  <form>

    <div class="form-group">
      <label>Hae laitoksen kursseja:</label>
      <input type="text" class="form-control" value="laitos (esim Matematiikan Laitos)">
    </div>
    <div class="form-group">
      <label>Hae opettajan kursseja:</label>
      <input type="text" class="form-control" value="opettajan nimi">
    </div>
    <div class="form-group">
      <label>Hae kurssin nimellä:</label>
      <input type="text" class="form-control" value="kurssin nimi">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Hae</button>
    </div>
  </form>

<!-- Luetellaan löytyneet kurssit taulukossa -->
<h2>Löydetyt kurssit</h2>

<p>
Valitse listasta, voit myös järjestää tuloksia
</p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Kurssi</th>
        <th>Opettaja</th>
        <th>Laitos</th>
        <th>Aikaa vastata</th>
      </tr>
    </thead>

    <tbody>
      <!-- hakua vastanneet kurssit tähän, kursseista linkit vastaussivuille -->
      {% for kurssi in kurssit%}
      <tr>
        <!--<td><a href="{{base_path}}/esittely/{{kurssi.kurssi_id}}">{{kurssi.nimi}}</a></td> -->
        <td><a href="{{base_path}}/muokkaus/{{kurssi.kurssi_id}}">{{kurssi.nimi}}</a></td>
        <td>tähän opettaja</td>
        <td>{{kurssi.laitos}}</td>
        <td>NaN</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}