{% extends "base.html" %}
{% block content %}

  <h3>Kurssikyselyn tulokset</h3>
  <p>raportti kurssista: {{kurssi.nimi}}</p>
  <br>
  <br>

  {% for kvpari in kysymys_vastaus_parit %}

			<h4>{{kvpari.kysymys}}</h4>
      <p>vastauksia {{kvpari.vastaustenLukumaara}} kappaletta:</p>
      <br>

      {% for vastaus in kvpari.vastaukset %}
        <p>vastaus: {{vastaus.vastausteksti}}</p>
      {% endfor %}
        <br>

        <p>asteikolla 1 - 5, 1 = "Vahvasti eri mieltä", 5 = "Vahvasti samaa mieltä":</p>
        <p>vastausten keskiarvo: {{kvpari.keskiarvo}}</p>
        <p>keskihajonta: {{kvpari.keskihajonta}}</p>
      <br>
			<br>

  {% endfor %}


{% endblock %}